[submodule "iOS/CoreWebSocket"]
	path = iOS/CoreWebSocket
	url = git://github.com/gatt-ip/CoreWebSocket.git
	branch = ios-build

[submodule "iOS/GATT-IP-LIB"]
	path = iOS/GATT-IP-LIB
	url = https://github.com/gatt-ip/gatt-ip-ios.git
	branch = master
[submodule "Android/GATT-IP-LIB"]
	path = Android/GATT-IP-LIB
	url = https://github.com/gatt-ip/gatt-ip-android.git
	branch = master
