<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gatt_ip.activity"
    android:versionCode="3"
    android:versionName="1.2" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Bluetooth Permissions -->     
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
     
    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" tools:replace="android:icon,android:theme">
        <activity
            android:name="org.gatt_ip.app.LocalGATTIPActivity"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.gatt_ip.app.RemoteGATTIPActivity"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" 
            android:windowSoftInputMode="stateVisible" >
        </activity>   
        <activity
            android:name="org.gatt_ip.app.LogView"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        </activity>  
        
        
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6d715e3b8a10e69b3a20cd54082e9302ff8318b9" />
    </application>

</manifest>
