<md-dialog style="width: 270px;top: 95px;" aria-label="alertDialog" ng-cloak>
    <md-dialog-content>
        &nbsp&nbsp&nbsp
        <div layout="row" layout-align="center" style="
    word-wrap: break-word;
    padding-bottom: 33px;
    text-align: center;">
            <div>
                <label>&nbsp&nbsp{{alert_text}}&nbsp&nbsp</label>
            </div>
        </div>
        <div layout="row" layout-align="center">
            <md-button class="md-raised md-primary md-button md-ink-ripple" ng-click="okClick()">OK</md-button>
        </div>
        &nbsp&nbsp&nbsp
    </md-dialog-content>
</md-dialog>