<div class="row logo-header" ng-show="isGattipApp">
    <div class="col-lg-2 col-xs-3 col-sm-3 col-md-2 back-btn" ng-click="back()"></div>
    <div class="col-lg-8 col-xs-6 col-sm-6 col-md-8 logo"></div>
    <div class="col-lg-2 col-xs-3 col-sm-3 col-md-2 log-view" ng-click="gotologview()">
        <h3>Log</h3>
    </div>
</div>
<md-toolbar class="mb-10">
    <div class="md-toolbar-tools">
        <h2>
          <span ng-show='bleexplorer.currentService.serviceName'>{{bleexplorer.currentService.serviceName}}</span>
          <span ng-hide='bleexplorer.currentService.serviceName'>{{bleexplorer.currentService.uuid}}</span>
        </h2>
    </div>
</md-toolbar>
<div class="list-padding" ng-repeat="characteristic in bleexplorer.currentService.characteristics" ng-click="discoverDescriptors(characteristic)" style="cursor: pointer;">
    <div layout="row" layout-align="start stretch" class="list-item1">
        <div layout="row" flex="100" layout-align="space-between center" style="padding-left:10px;">
            <div flex="95">
                <div ng-show='characteristic.characteristicName'>
                    <div layout="column" layout-align="start start">
                        <div flex>{{characteristic.characteristicName}}</div>
                        <div flex class="font-14">{{characteristic.uuid}}</div>
                    </div>
                    <div layout="row" layout-align="start start">
                        Properties : 
                        <span ng-repeat="property in characteristic.properties">
                            <span ng-show='property.enabled'> {{property.name}}, </span>
                        </span>
                    </div>
                </div>
                <div ng-hide='characteristic.characteristicName'>
                    <div layout="column" layout-align="start start">
                        <div flex>{{characteristic.uuid}}</div>
                    </div>
                    <div layout="row" layout-align="start start">
                        Properties : 
                        <span ng-repeat="property in characteristic.properties">
                            <span ng-show='property.enabled'> {{property.name}}, </span>
                        </span>
                    </div>
                </div>
            </div>
            <div flex="5" class="text-right">
                <i class="mdi mdi-chevron-right" style="font-size: 25px;"></i>
            </div>
        </div>
    </div>
</div>