<md-dialog style="width: 250px;top: 95px;" aria-label="loadingDialog" ng-cloak>
    <md-dialog-content>
        &nbsp&nbsp&nbsp
        <div layout="row" layout-align="center">
            <div style="padding-bottom: 20px;">
                <md-progress-circular class="md-accent md-hue-1" md-mode="indeterminate" md-diameter="60">
                </md-progress-circular>
            </div>
        </div>
        <div layout="row" layout-align="center">
            <div>
                <label>&nbsp&nbsp{{loading_text}}&nbsp&nbsp</label>
            </div>
        </div>
        &nbsp&nbsp&nbsp
    </md-dialog-content>
</md-dialog>