<body>
    <div class="row logo-header">
        <div class="col-lg-2 col-xs-3 col-sm-3 col-md-2 back-btn" ng-click="back()"></div>
        <div class="col-lg-8 col-xs-6 col-sm-6 col-md-8 logo"></div>
        <div class="col-lg-2 col-xs-3 col-sm-3 col-md-2 log-view" ng-click="gotologview()"><h3>Log</h3></div>
    </div>
    <div class="row title-text">
        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 device-title"><h3> {{gattip.currentPeripheral.name}}</h3></div>
    </div>
    <a ng-repeat="service in gattip.currentPeripheral.services" ng-click="discoverCharacteristics(service)">
        <div class="row servicelist-listview">
            <div class="col-lg-11 col-xs-11 col-sm-11 col-md-11 devices-devicename">{{service.serviceName}}</div>
            <div class="col-lg-1 col-xs-1 col-sm-1 col-md-1 servicelist-arrow-icon"></div>
        </div>
    </a>
    <div class="alert-box alert-btn" id="customalert" ng-controller="AlertController">
        <div id="alertmessage"></div>
        <div>
            <button type="button" class="btn btn-blue3" ng-click="hide_alert()"><i class="fa fa-check"></i> OK </button>
        </div>
    </div>
    
</body>