@charset "utf-8";
*, body {
    padding: 0
}
*, .row, body {
    margin: 0
}
.alert-box{
    margin: auto;
    font-size:20px;
    left:0; right:0;
    top:0; bottom:0;
    position: absolute;
    width: 300px;
    height: 150px;
    border: rgba(6, 59, 99, 0.61) solid 4px;
    background: #063b63;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #cee4f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cee4f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#cee4f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#cee4f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#cee4f2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#cee4f2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cee4f2',GradientType=0 ); /* IE6-9 */
    text-align: center;
    border-radius:8px;
    padding:15px;
    -webkit-box-shadow: 0 0 30px 2px #767676;
    box-shadow: 0 0 30px 2px #767676;
    z-index: 200;
    visibility:hidden;
}
.alert-show {
    visibility:visible;
}
.alert-btn .btn-blue3{
    margin-top: 30px;
}

.log-view>h3, .remote-view>h3 {
    color: #006bff;
    margin-top: 10px;
    font-size: 18px
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.devicelist-arrow-icon, .signal-strength {
    height: 60px;
    width: 4%
}
.descriptors>h2, .listview, .servicelist-listview, .characteristiclist {
    border-bottom: 1px solid #c8c7cc
}
body {
    font-family: Arial, Helvetica, sans-serif
}
.log-view>h3 {
    float: right
}
.back-btn {
    background-image: url(../images/back-btn.png);
    background-repeat: no-repeat;
    height: 40px;
    background-position: 1em center
}
.logo-header {
    background: #ebebeb;
    padding-top: 20px
}
.logo {
    background-image: url(../images/GATT-IP_logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 40px;
    margin: 0 auto
}
.title-text {
    background: #063b63;
    color: #fff;
    height: 50px
}
.title-text>h3 {
    margin: 15px 0 15px 15px;
    font-size: 24px
}
.listview {
    background: #f0f0f0;
    min-height: 60px;
}
.servicelist-listview {
    background: #f0f0f0;
    /*height: 40px*/
    padding-top: 5px;
    padding-bottom: 5px;
}
.characteristiclist {
    background: #f0f0f0;
    /*height: 40px*/
    padding-top: 5px;
    padding-bottom: 5px;
}
.characteristiclist p, span {
    font-size:15px;
}
.listview:hover {
    background: #e0dede
}
.devicelist-arrow-icon, .servicelist-arrow-icon {
    padding: 0;
    background-image: url(../images/arrow.png)
}
.devicelist-arrow-icon, .servicelist-arrow-icon, .ss-icon {
    background-position: center center;
    background-repeat: no-repeat
}
.signal-strength {
    padding: 10px 0 0
}
.servicelist-arrow-icon {
    width: 4%;
    height: 30px
}
.devicename {
    padding: 10px 0 17px;
    height: 60px;
    width: 92%;
    color: #000;
    font-size: 24px
}
.device-title, .services {
    height: 50px
}
.device-title>h2 {
    color: #000
}
.device-title>h2:hover {
    color: #ff8003
}
.services>h6 {
    color: #888
}
.ss-icon {
    background-image: url(../images/signal.png);
    height: 35px
}
.devices-devicename {
    margin-top: 8px;
    color: #000;
    font-size: 15px
}
.devices-arrow-icon {
    width: 4%
}
.btn-default {
    margin-bottom: 7px;
    margin-top: 14px
}
.descriptors {
    padding: 0
}
.descriptors>h2 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px
}
.dropdown-values {
    height: 34px!important;
    margin: 10px 0!important;
    padding: 6px!important
}
.current-value {
    padding: 0
}
.current-value>h2 {
    margin-top: 17px;
    font-size: 18px
}
.write-text {
    margin: 10px 0!important
}
.btn-blue {
    color: #FFFFFF;
    background-color: #063B63;
    border-color: #063B63;
}
.btn-blue.active, .btn-blue:active, .btn-blue:focus, .btn-blue:hover, .open .dropdown-toggle.btn-blue {
    color: #FFFFFF;
    background-color: #063B63;
    border-color: #063B63;
}
.btn-blue2 {
    color: #FFFFFF;
    background-color: #063B63;
    border-color: #063B63;
    font-size: 16px;
    padding: 5px;
}
.btn-blue2.active, .btn-blue2:active, .btn-blue2:focus, .btn-blue2:hover, .open .dropdown-toggle.btn-blue2 {
    color: #FFFFFF;
    background-color: #063B63;
    border-color: #063B63;
}
.btn-blue3 {
    color: #FFFFFF;
    background: #01baff; /* Old browsers */
    background: -moz-linear-gradient(top, #01baff 0%, #029bd3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#01baff), color-stop(100%,#029bd3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #01baff 0%,#029bd3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #01baff 0%,#029bd3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #01baff 0%,#029bd3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #01baff 0%,#029bd3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01baff', endColorstr='#029bd3',GradientType=0 ); /* IE6-9 */
    border-color: #01baff;
    font-size: 16px;
    margin-top:10px;
}
.btn-blue3.active, .btn-blue3:active, .btn-blue3:focus, .btn-blue3:hover, .open .dropdown-toggle.btn-blue3 {
    color: #FFFFFF;
    background-color: #01baff;
    border-color: #01baff;
}
.raw-data {
    border:1px solid #063b63;
    padding:8px;
    color:#000;
    border-radius:5px;
    word-break: break-all;;
}
.text-wrap {
    word-break: break-word;
    white-space: initial !important;
}
.ada-data-drop {
}
.ada-data-drop .link{
    width:100%;
    background-color:transparent;
    border-color:transparent;
    text-align:left;
    padding-left:10px;
    padding-right:10px;
}
.ada-data-drop hr{
    margin-top: 0px;
    margin-bottom: 0px;
}
.dropdown-menu {
    min-width: 130px;
    
}
@media only screen and (max-width:768px) {
    .devicelist-arrow-icon, .signal-strength {
        /*	width: 15%;*/
        height: 60px
    }
    .devicelist-arrow-icon, .servicelist-arrow-icon {
        padding: 0;
        background-image: url(../images/arrow.png)
    }
    .devicelist-arrow-icon, .devices-arrow-icon, .servicelist-arrow-icon, .ss-icon {
        background-repeat: no-repeat;
        background-position: center center
    }
    .title-text>h3 {
        margin: 15px 0 15px 15px;
        font-size: 18px
    }
    .signal-strength {
        padding: 10px 0 0
    }
    .servicelist-arrow-icon {
        width: 15%;
        height: 30px
    }
    .devicename {
        height: 60px;
        width: 70%;
        padding: 10px 0 17px;
        color: #000;
        font-size: 22px
    }
    .device-title>h2 {
        color: #000;
        font-size: 22px;
        margin-bottom: 0;
        margin-top: 30px
    }
    .services>h6 {
        color: #888
    }
    .ss-icon {
        background-image: url(../images/signal.png);
        height: 35px
    }
    .devices-devicename {
        margin-top: 8px;
        color: #000;
        font-size: 15px
    }
    .devices-arrow-icon {
        background-image: url(../images/arrow.png);
        height: 60px;
        width: 4%
    }
}
.uuid {
    color: #00deff
}
.advt {
    height: 58px;
    background: #ff8003
}
h4.advt-text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff
}
.show {
    background: 0 0;
    border: 1px solid #fff;
    margin: 10px 0;
    border-radius: 0
}
.show:hover {
    background: #063b63;
    border: none
}
.devices-devicename {
    width: 85%
}
.devices-devicename>h2 {
    margin-top: 10px;
    color: #000
}
.devices-arrow-icon {
    background-image: url(../images/arrow.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 60px
}
.device-title>h3 {
    margin-top: 13px;
    font-size: 22px
}

@media only screen and (max-width:768px) {
    .uuid {
        font-size: 15px;
        line-height: 20px;
        color: #00deff
    }
    h4.advt-text {
        margin-top: 20px;
        margin-bottom: 20px;
        color: #fff;
        font-size: 14px
    }
    .devices-devicename {
        width: 85%
    }
    .devices-devicename>h2 {
        margin-top: 10px;
        color: #000;
        font-size: 10px
    }
    .devices-arrow-icon {
        background-image: url(../images/arrow.png);
        background-position: center center;
        background-repeat: no-repeat;
        height: 60px
    }
    h2.uuid-title {
        color: #fff;
        font-size: 15px;
        margin-top: 17px;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .col-1>h4 {
        color: #000;
        font-size: 20px
    }
    .col-1, .col-2, .col-3 {
        padding: 0;
        color: #000;
        font-size: 13px
    }
    .col-2>p {
        top: 4px;
        position: relative
    }
    .properties-arrow-icon {
        background-image: url(../images/arrow.png);
        background-position: center center;
        background-repeat: no-repeat;
        height: 50px;
        padding: 0
    }
    h3.char {
        margin-top: 10px;
        margin-bottom: 10px
    }
    h4.char {
        
        
        color: #fff;
        font-size: 15px;
        margin-top: 17px;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .char-text>a>h4 {
        font-size: 16px
    }
    .descriptors {
        padding: 0
    }
    .descriptors>h2 {
        font-size: 16px;
        border-bottom: 1px solid #c8c7cc;
        margin-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 8px;
    }
}
.header {
    background: #ff8003
}
.header>h3 {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #fff;
    font-size: 16px
}
.char-text {
    height: 40px
}
.char-text>a {
    text-decoration: none
}
h2 {
    margin: 0
}
.form-control {
    margin: 20px 0 10px;
    height: 45px
}
.rows>h2 {
    margin: 10px 0 0;
    font-size: 18px
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
    .devicelist-arrow-icon, .properties-arrow-icon, .servicelist-arrow-icon {
        background-size: 8px 13px;
        padding: 0
    }
    .back-btn, .devicelist-arrow-icon, .logo, .properties-arrow-icon, .servicelist-arrow-icon, .ss-icon {
        background-repeat: no-repeat
    }
    .logo {
        background-image: url(../images/GATT-IP_logo@2x.png);
        background-position: center center;
        height: 40px;
        background-size: 118px 24px
    }
    .back-btn {
        background-image: url(../images/back-btn@2x.png);
        background-position: 1em center;
        background-size: 55px 21px
    }
    .devicelist-arrow-icon, .properties-arrow-icon, .servicelist-arrow-icon, .ss-icon {
        background-position: center center
    }
    .devicelist-arrow-icon, .properties-arrow-icon, .servicelist-arrow-icon {
        background-image: url(../images/arrow@2x.png)
    }
    .devicelist-arrow-icon {
        /*	width: 15%;*/
        height: 60px
    }
    .servicelist-arrow-icon {
        width: 15%;
        height: 30px
    }
    .properties-arrow-icon {
        height: 50px
    }
    .ss-icon {
        background-image: url(../images/signal_1@2x.png);
        height: 35px;
        background-size: 19px 22px
    }
}

@media only screen and (min-width:768px)and (max-width:1024px) {
    .devices-devicename {
        margin-top: 8px;
        color: #000;
        font-size: 15px
    }
}
.div-name {
    padding: 4px 0 0;
    font-size: 21px;
    height: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 32px;
}
.div-small {
    padding: 0;
    font-size: 14px;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block
}
.aglin-padding {
    padding: 0 5px 0 10px
}

@media only screen and (max-width:768px) {
    .signal-strength {
        width: 12%;
        height: 60px;
        padding: 10px 0 0
    }
    .devicelist-arrow-icon {
        background-image: url(../images/arrow.png);
        background-position: center center;
        background-repeat: no-repeat;
        /*	width: 12%;*/
        height: 60px;
        padding: 0
    }
    .no-padding {
        padding: 0
    }
    .device-width {
        width: 85%!important
    }
}
