*,
body {
    padding: 0
}

*,
.row,
body {
    margin: 0
}

.log-view>h3,
.remote-view>h3 {
    color: #006bff;
    margin-top: 10px;
    font-size: 18px
}

body {
    font-family: Arial, Helvetica, sans-serif
}

.log-view>h3 {
    float: right
}

.back-btn {
    background-image: url(../images/back-btn.png);
    background-repeat: no-repeat;
    height: 40px;
    background-position: 1em
}

.logo-header {
    background: #fff;
    padding-top: 20px
}

.logo {
    background-image: url(../images/GATT-IP_logo.png);
    background-repeat: no-repeat;
    background-position: 50%;
    height: 40px;
    margin: 0 auto
}

.title-text {
    background: #063b63;
    color: #fff;
    height: 50px
}

.title-text>h3 {
    margin: 15px 0 15px 15px;
    font-size: 24px
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
    .back-btn,
    .devicelist-arrow-icon,
    .logo,
    .properties-arrow-icon,
    .servicelist-arrow-icon,
    .ss-icon {
        background-repeat: no-repeat
    }
    .logo {
        background-image: url(../images/GATT-IP_logo@2x.png);
        background-position: 50%;
        height: 40px;
        background-size: 118px 24px
    }
    .back-btn {
        background-image: url(../images/back-btn@2x.png);
        background-position: 1em;
        background-size: 55px 21px
    }
}

md-toast.md-success-toast-theme .md-toast-content {
    background-color: green
}

md-toast.md-error-toast-theme .md-toast-content {
    background-color: red
}

md-toast {
    top: 10px;
    right: 0
}

.white-bg {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12)
}

.height-50 {
    height: 50px
}

.height-150 {
    height: 150px
}

.list-item1 {
    min-height: auto;
    border: 1px solid #ddd;
    padding: 12px
}

.font-14 {
    font-size: 14px
}

.border-top-0 {
    border-top: 0
}

.font-bold {
    font-weight: 700
}

.font-normal {
    font-weight: 400
}

.gray-color {
    color: #777
}

.row-border-bottom {
    border: 1px solid #ddd;
    border-top: 0!important
}

.row-border-top {
    border-bottom: 0;
    border: 1px solid #ddd
}

.text-right {
    text-align: right!important
}

.innder-padding {
    border-right: 1px solid #ddd
}

.innder-padding,
.right-text-padding {
    padding: 8px 0 8px 10px
}

.list-padding {
    padding: 0 8px
}

.mb-10 {
    margin-bottom: 10px
}

.mb-0 {
    margin-bottom: 0!important
}

.mt-0 {
    margin-top: 0!important
}

.mt-10 {
    margin-top: 10px!important
}

.mt-30 {
    margin-top: 30px!important
}

.pt-0 {
    padding-top: 0!important
}

md-toolbar {
    min-height: 40px!important
}

md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
    height: 20px!important;
    background-color: #1575c1!important;
    color: #fff!important
}

md-input-container>md-select {
    width: 120px!important;
    margin-right: 10px
}

.discripter-border {
    border: 1px solid #1575c1
}

div:focus {
    color: inherit;
    background-color: transparent;
    outline: none;
    border: 0
}

.scan-filter {
    font-size: 22px;
    margin-right: 7px
}

md-progress-circular.md-hue-2.md-accent .md-inner .md-left .md-half-circle {
    border-left-color: rgb(250,250,250)!important
}

md-progress-circular.md-hue-2.md-accent .md-inner .md-right .md-half-circle {
    border-right-color: rgb(250,250,250)!important
}

md-progress-circular.md-hue-2.md-accent .md-inner .md-left .md-half-circle,
md-progress-circular.md-hue-2.md-accent .md-inner .md-right .md-half-circle {
    border-top-color: rgb(250,250,250)!important
}

.md-dialog-container {
    display: block!important;
}

md-dialog.md-transition-in {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}